@import "./common.css";

nav {
  width: 100vw;
  height: 100vh;
}

header img:not(:first-of-type) {
  opacity: 0;
}

.titleContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: var(--margin);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 1;
}

.titleContainer a,
.titleContainer a:visited {
  color: #fafafa;
  text-decoration: none;
  font-size: 3rem;
  filter: drop-shadow(0 0rem 1rem rgba(0, 0, 0, 0.1));
}

.titleContainer a:hover {
  background-image: linear-gradient(
    transparent 92%,
    rgba(255, 255, 255, 1) 92%
  );
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav a,
nav a:visited {
  color: #fafafa;
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 10rem;
  line-height: 13rem;
  filter: var(--shadow);
}

nav a:hover {
  background-image: linear-gradient(
    transparent 83%,
    rgba(255, 255, 255, 1) 83%,
    rgba(255, 255, 255, 1) 89%,
    transparent 89%
  );
}

@media (max-width: 1024px) {
  nav a,
  nav a:visited {
    font-size: 7rem;
    line-height: 9rem;
  }
}
